In [2]:
import nltk
from nltk import tokenize
import json
import pandas as pd
stopwords = nltk.corpus.stopwords.words('portuguese')

ModuleNotFoundError: No module named 'nltk'

In [1]:
df_cidade = pd.read_csv('../data/CIDADE.csv', delimiter = ',',encoding="utf-8")
df_cidade.head()

NameError: name 'pd' is not defined

In [3]:
df_desembargador = pd.read_csv('../data/base-djma/DESEMBARGADOR.csv', delimiter = ',',encoding="utf-8")
df_desembargador.head()

             tag                                conteudo  saida
0  DESEMBARGADOR       Des  Marcio Murilo da Cunha Ramos      0
1  DESEMBARGADOR             Dr a   Joao Batista Barbosa      0
2  DESEMBARGADOR   Des  Marcos Cavalcanti de Albuquerque      0
3  DESEMBARGADOR                 Des  Jose Ricardo Porto      0
4  DESEMBARGADOR                 Des  Leandro dos Santos      0

In [4]:
df_enunciado = pd.read_csv('../data/base-djma/ENUNCIADO.csv', delimiter = ',',encoding="utf-8")
df_enunciado.head()

         tag                                           conteudo  saida
0  ENUNCIADO   O Diretor de Gestao de Pessoas do Tribunal de...      0
1  ENUNCIADO   A PRESIDENCIA DO TRIBUNAL DE JUSTICA DO ESTAD...      0
2  ENUNCIADO   A PRESIDENCIA DO TRIBUNAL DE JUSTICA DO ESTAD...      0
3  ENUNCIADO   O Excelentissimo Senhor Desembargador Joas de...      0
4  ENUNCIADO   O Excelentissimo Senhor Desembargador Joas de...      0

In [5]:
df_processo = pd.read_csv('../data/base-djma/PROCESSO.csv', delimiter = ",", encoding="utf-8")
df_processo.head()

/home/sarai/.virtualenvs/data-privacy/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tag,conteudo,saida,Unnamed: 3,Unnamed: 4
0,PROCESSO,PORTARIA GAPRE N 227 DE 15 DE FEVEREIRO DE ...,0,NaN,NaN
1,PROCESSO,PORTARIA GAPRE N 326 DE 23 DE FEVEREIRO DE 2...,1,NaN,NaN
2,PROCESSO,PORTARIA GAPRE N 327 DE 23 DE FEVEREIRO DE 2...,1,NaN,NaN
3,PROCESSO,PORTARIA GAPRE N 351 2018 A PRESIDENCIA DO ...,0,NaN,NaN
4,PROCESSO,PORTARIA GAPRE N 355 2018 A PRESIDENCIA DO ...,0,NaN,NaN

In [6]:
df_relator = pd.read_csv('../data/base-djma/RELATOR.csv', delimiter = ",", encoding="utf-8")
df_relator.head()

       tag                                           conteudo  saida
0  RELATOR   RELATOR  EXMO  SR  DES  MARCIO MURILO DA CUNH...      1
1  RELATOR   RELATOR  EXMO  SR  DES  SAULO HENRIQUES DE SA...      1
2  RELATOR   RELA  TOR  EXMO  SR  DES  ARNOBIO ALVES TEODO...      1
3  RELATOR   RELATORA  EXMA  SRA  DESA  MARIA DE FATIMA MO...      1
4  RELATOR   RELATOR  EXMO  SR  DES  SAULO HENRI  QUES DE ...      1

In [7]:
df_tipo_enunciado = pd.read_csv('../data/base-djma/TIPODEENUNCIADO.csv', delimiter = ",", encoding="utf-8")
df_tipo_enunciado.head()

               tag                                           conteudo  saida
0  TIPODEENUNCIADO                    ATOS DO GABINETE DA PRESIDENCIA      0
1  TIPODEENUNCIADO             ATOS DA DIRETORIA DE GESTAO DE PESSOAS      0
2  TIPODEENUNCIADO                           DESPACHOS DA PRESIDENCIA      0
3  TIPODEENUNCIADO   ATOS DA DIRETORIA ESPECIAL COMUNICADO   O Dir...      0
4  TIPODEENUNCIADO              DESPACHOS DOS AS  DESEMBARGADORES AS       0

In [8]:
df_tipo_processo = pd.read_csv('../data/base-djma/TIPODEPROCESSO.csv', delimiter = ",", encoding="utf-8")
df_tipo_processo.head()

              tag                           conteudo  saida
0  TIPODEPROCESSO                INTIMACAO AS PARTES      0
1  TIPODEPROCESSO                  PAUTA SUPLEMENTAR      0
2  TIPODEPROCESSO   LICENCA PARA TRATAMENTO DE SAUDE      0
3  TIPODEPROCESSO                LICENCA MATERNIDADE      0
4  TIPODEPROCESSO                LICENCA PATERNIDADE      0

In [9]:
df_vara = pd.read_csv('../data/base-djma/VARA.csv', delimiter = ",", encoding="utf-8")
df_vara.head()

    tag                                           conteudo  saida
0  VARA   3A  VARA CIVEL DE JOAO PESSOA NF 012 18  INTI...      0
1  VARA   5A  VARA CIVEL DE JOAO PESSOA NF 021 18  INTI...      0
2  VARA   7A  VARA CIVEL DE JOAO PESSOA NF 047 18  INTI...      0
3  VARA   8A  VARA CIVEL DE JOAO PESSOA NF 048 18  INTI...      0
4  VARA   9A  VARA CIVEL DE JOAO PESSOA NF 024 18  INTI...      0

In [10]:
def one_word_token(row):
    return [token for token in tokenize.word_tokenize(row) if token.lower() not in stopwords]

def two_words_token(row, n=2):
    import re
    tokens = []
    items = row.split(' ')
    items = [i for i in items if i.lower() not in stopwords]
    # Removes extra spaces in the middle of the string
    row = ' '.join([i.strip() for i in items if i])
    
    while row:
        m = re.match(r'^((?:[^ ]* ){%d}[^ ]*) (.*)' % (n-1), row.strip())
        if m:
            groups = m.groups()
            tokens.append(groups[0])
            row = groups[1]
        else:
            break
    return tokens

def three_words_token(row):
    return two_words_token(row, n=3)

In [11]:
def get_stemmed_words(data_frame, my_tokenizer=one_word_token):
    stemmed_words = []
    stemmer = nltk.stem.RSLPStemmer()

    # Didn't filter by rows classified as 1
    for i, conteudo in data_frame.iterrows():
        row = conteudo['conteudo']
        words = my_tokenizer(row)
        for word in words:
            if not word:
                continue
            if word.isdigit():
                continue

            stemmed_words.append(stemmer.stem(word))
    return stemmed_words

## Most frequent words with stemming and removing stopwords

In [12]:
from collections import Counter
stemmed_words = get_stemmed_words(df_vara)
c = Counter(stemmed_words)
c.most_common(50)

[('art', 76095),
 ('nf', 76071),
 ('var', 74361),
 ('cpc', 46156),
 ('intimaca', 46144),
 ('lei', 29931),
 ('cpp', 29929),
 ('paragraf', 29927),
 ('2o', 29927),
 ('redaca', 29927),
 ('unic', 23508),
 ('joa', 15354),
 ('comarc', 14768),
 ('pesso', 13915),
 ('1a', 12255),
 ('2a', 11156),
 ('civel', 8932),
 ('grand', 8617),
 ('campin', 7774),
 ('3a', 6598),
 ('5a', 4442),
 ('crim', 4388),
 ('4a', 4341),
 ('sant', 3672),
 ('sao', 2704),
 ('pat', 2583),
 ('6a', 2439),
 ('7a', 2022),
 ('region', 1979),
 ('mangab', 1979),
 ('publ', 1976),
 ('fazend', 1956),
 ('sous', 1946),
 ('pb', 1930),
 ('sap', 1730),
 ('pomb', 1540),
 ('cajaz', 1493),
 ('guarab', 1488),
 ('famil', 1441),
 ('rio', 1439),
 ('jur', 1404),
 ('cabedel', 1370),
 ('itaporang', 1368),
 ('tribun', 1366),
 ('mont', 1291),
 ('mamanguap', 1275),
 ('queim', 1229),
 ('rit', 1209),
 ('roch', 1180),
 ('catol', 1176)]

## Analysing phrases with two tokens, stemming and removing stopwords

In [13]:
from collections import Counter
stemmed_words = get_stemmed_words(df_vara, my_tokenizer=two_words_token)
c = Counter(stemmed_words)
c.most_common(50)

[('intimacao art', 29070),
 ('vara un', 23508),
 ('paragrafo 2', 18744),
 ('art 370', 18744),
 ('cpp redaca', 18744),
 ('lei 8', 18744),
 ('701 01', 18744),
 ('art 236', 17074),
 ('1a v', 12255),
 ('2o art', 11183),
 ('370 cpp', 11183),
 ('redacao l', 11183),
 ('8 701', 11183),
 ('01 09', 11183),
 ('2a v', 11156),
 ('18 intimaca', 11021),
 ('pessoa nf', 10883),
 ('18 paragraf', 7539),
 ('3a v', 6598),
 ('grande nf', 6382),
 ('civel joa', 5963),
 ('17 intimaca', 5788),
 ('5a v', 4442),
 ('4a v', 4341),
 ('17 paragraf', 3556),
 ('joao pesso', 3014),
 ('civel campin', 2776),
 ('criminal joa', 2602),
 ('patos nf', 2583),
 ('6a v', 2439),
 ('7a v', 2022),
 ('fazenda publ', 1956),
 ('regional mangab', 1954),
 ('sousa pb', 1888),
 ('criminal campin', 1784),
 ('sape nf', 1728),
 ('campina grand', 1718),
 ('pombal nf', 1530),
 ('cajazeiras nf', 1493),
 ('sao joa', 1431),
 ('cabedelo nf', 1370),
 ('itaporanga nf', 1368),
 ('monteiro nf', 1252),
 ('mamanguape nf', 1251),
 ('comarca queim', 1205),
 ('santa rit', 1205),
 ('guarabira nf', 1186),
 ('catole roch', 1176),
 ('bayeux nf', 1126),
 ('pianco nf', 1113)]

## Analysing phrases with three tokens, stemming and removing stopwords

In [14]:
from collections import Counter
stemmed_words = get_stemmed_words(df_vara, my_tokenizer=three_words_token)
c = Counter(stemmed_words)
c.most_common(50)

[('intimacao art 236', 18700),
 ('vara unica comarc', 11700),
 ('joao pessoa nf', 10883),
 ('art 370 cpp', 10776),
 ('redacao lei 8', 10776),
 ('701 01 09', 10776),
 ('paragrafo 2o art', 10755),
 ('370 cpp redaca', 10755),
 ('lei 8 701', 10755),
 ('18 intimacao art', 8685),
 ('2o art 370', 8396),
 ('cpp redacao l', 8396),
 ('8 701 01', 8396),
 ('18 paragrafo 2', 7248),
 ('campina grande nf', 6056),
 ('17 intimacao art', 4590),
 ('17 paragrafo 2', 3442),
 ('vara unica sa', 1669),
 ('1a vara comarc', 1404),
 ('2a vara comarc', 1346),
 ('publica joao pesso', 1071),
 ('5a vara ci', 975),
 ('publica campina grand', 885),
 ('joao rio peix', 873),
 ('santa luzia nf', 802),
 ('10a vara ci', 801),
 ('4a vara ci', 767),
 ('1a vara crim', 764),
 ('fiscal joao pesso', 753),
 ('3a vara crim', 739),
 ('4a vara crim', 734),
 ('8a vara ci', 719),
 ('2a vara crim', 715),
 ('vara unica soledad', 708),
 ('7a vara ci', 704),
 ('9a vara ci', 690),
 ('vara unica teix', 688),
 ('2 tribunal jur', 686),
 ('1 tribunal jur', 674),
 ('jose piranhas nf', 659),
 ('5a vara pat', 655),
 ('vara unica alag', 646),
 ('vara unica poc', 637),
 ('vara unica are', 617),
 ('1a vara fazend', 604),
 ('1a vara sap', 601),
 ('alagoa nova nf', 591),
 ('5a vara crim', 579),
 ('vara unica pedr', 576),
 ('2a vara sap', 576)]